@use "../../partials/variables" as *;

header {
    // background-image: url("../../../../assets/contact-header.jpg");
    @include fix-header("../../../../assets/contact-header.jpg");
    height: 80vh;
    position: relative;

    .wrapper {
        height: 80vh;
        @include flex-center(column, space-between, center);
        padding: 20px 0px;

        nav {
            align-self: flex-end;
            width: 40%;

            .menu-nav {
                @include flex-center(row, space-between, center);
                flex-wrap: wrap;
                width: 100%;

                li {
                    @include wrap($margin:7px, $number-in-a-row:4, $min-width:fit-content, $max-width:fit-content);
                }

                .active {
                    border-bottom: $sea-green 5px solid;
                }
                .linked {
                    border-bottom: rgb(255,255,255,0) 5px solid;
                }
            }
        }
        h1 {
            @include heading-styler;
            @include responsive-size(4rem, 1/3, 4vw);
            z-index: 20;
            margin-bottom: 35vh;
        }
    }
}
.touch {
    background-color: $ice;

    .wrapper {
        @include flex-center(row, space-between, flex-start);
        flex-wrap: wrap;
        .info {
            @include wrap($margin:40px, $number-in-a-row:4, $min-width:auto, $max-width:fit-content);
            margin:0 80px 60px 0;
            .socials{
                margin-bottom:0.5rem;
                @include flex-center();
                a{
                    margin:0.5rem;
                    &:first-child{
                        margin-left:0;
                    }
                }
            }
            p {
                span {
                    display: block;
                }
            }

        }
        .form-box{
            background-color: $canary;
            @include wrap($margin:20px, $number-in-a-row:1.5, $min-width:10px, $max-width:min(800px, 90%));
            margin: 0px 40px 0 0px 0px;
            @include detach(-300px, 0, 300px, 0);
            @media (max-width:1110px) {
                position: static;
            }
            form {
                background-color: $white;
                @include detach(-30px, -30px, 30px, 30px);
                fieldset {
                    border: none;
                    @include flex-center();
                    flex-wrap: wrap;
            
                    input {
                        @include style-2();
                        background-color: $white;
                        border-bottom: $sea-green 2px solid;
                        padding: 1rem;
                        margin: 5px;
                        @include wrap($margin:5px, $number-in-a-row:2, $min-width:10px, $max-width:calc(800px/2 - 10px));
                        margin: 10px 5px 10px 5px;
            
                        &::placeholder {
                            @include style-2();
                            font-size: 20px;
                            line-height: 32px;
                        }
                    }
            
                    textarea {
                        @include style-2();
                        background-color: $white;
                        border: $sea-green 2px solid;
                        padding: 1rem;
                        margin: 5px;
                        @include wrap($margin:5px, $number-in-a-row:1, $min-width:10px, $max-width:790px);
                        margin: 10px 5px 10px 5px;
            
                        &::placeholder {
                            @include style-2();
                            font-size: 20px;
                            line-height: 32px;
                        }
                    }
            
                    button {
                        @include wrap($margin:5px, $number-in-a-row:1, $min-width:10px, $max-width:790px);
                        margin: 10px 5px 10px 5px;
                    }
                }
            }
        }
    }
}
footer {
    background-color: $black;

    .wrapper {
        color: $white;
        text-align: center;
        padding: 15px 0;
        @include style-2;
    }
}
