@use "variables" as *;
.img-box{
    flex-basis:50%;
    img{
        width:100%;
        height:auto;
        object-fit: cover;
    }
}

.img-1{
    width:100vw;
    height:100vh;
}
.text-box{
    @include flex-center(column, space-between,flex-start);
}
.icon-box{
    background-color: $sea-green;
    padding:1.5em;
    @include flex-center(row, center, center);
    border-radius: 50%;
    margin:2rem;
    i{
        width:4rem;
        height:4rem;
        @include flex-center(row, center, center);
    }
}
.link-box{
    @include flex-center(row, space-between, baseline);
}
