@use "./variables" as *;
@import "./menu-button";
@use "./header";
@import "./form";
@import "./footer";

header {
    @include fix-header("../../../../assets/contact-header.jpg", 80vh);
    @media (max-width:1200px){
        background-repeat: no-repeat;
        background-position: -100px 0px;
    }
    .wrapper{
        h1{
            align-self: flex-end;
            @media (max-width:1200px) {
                align-self: flex-end;
                margin-bottom:20vh;
            }
        }
    }
}
.touch {
    background-color: $ice;
    .wrapper {
        @include flex-center(row, space-between, flex-start);
        flex-wrap: wrap;
        .info {
            @include wrap($margin:30px, $number-in-a-row:4, $min-width:300px, $max-width:fit-content);
            margin:0 60px 60px 0;
            .socials{
                margin-bottom:0.5rem;
                @include flex-center();
                a{
                    margin:0.5rem;
                    &:first-child{
                        margin-left:0;
                    }
                }
            }
            p {
                span {
                    display: block;
                }
            }
        }
        .form-box{
            background-color: $canary;
            @include wrap($margin:20px, $number-in-a-row:1.5, $min-width:10px, $max-width:min(800px, 90%));
            margin: 0px 40px 0 0px 0px;
            @include detach(-300px, 0, 300px, 0);
            @media (max-width:1200px) {
                position: static;
            }
            // @import "./form";
            form{
                background-color: $white;
                @include detach(0px, -30px, 0px, 30px);
                input{
                    background-color: $white;
                }
                textarea{
                    background-color: $white;   
                } 
            }
        }
    }
}
// @import "./footer";
