@use "variables" as *;

h1, 
h2,
h3{
    @include style-1();
}
p{
    font-family: $font-2;
    font-weight: map-get($font-weights, reg );
}
h1{
    font-size: 138px;
    text-align:center;
    text-transform: uppercase;
}
h2{
    font-size: 80px;
    line-height: 92px;
}
h3{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
h4{
    font-size: 32px;
    letter-spacing: 1px;
}
.button{
    @include style-1();
    font-size: 20px;
    letter-spacing: 1px;
    line-height:32px;
    text-transform: uppercase;
    background-color: $sea-green;
    padding:0.5rem 1.5rem;
    margin:1rem;
    a{
        display:inline-block;
        width:100%;
        text-align: center;
    }
}
p{
    @include style-2();
    font-size: 20px;
    line-height: 32px;
}
.menu-nav{
    @include style-1();
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 29px;
    text-decoration: none;
}
.email{
    @include style-1();
    font-size:26px;
    letter-spacing: 1.1px;
}
