@use "variables" as *;
@media (max-width:$sm-scr){
    header{
        height:100vh;
        &.home-header{
            background-position: bottom left;
            background-repeat: no-repeat;
        }
        &.contact-header{
            background-position:-300px 0;
        }
        .wrapper{
            nav{
                align-self:flex-start;
                width:fit-content;
                .menu-nav{
                    @include flex-center(column);
                    flex-wrap:none;
                    li{
                        margin:10px 0;
                    }
                }
            }
            h1{
                margin-bottom:2rem;
                align-self: flex-end;
                &.contact-h1{
                    background-color: rgb($white, 0.5);
                    align-self: stretch;
                }  
            }  
        }
        .header-img{
            right:calc(50% - max(40%, 300px)/2);
            border-left:none;
            opacity:0.8;
        }

    }
    .about-blog{
        .wrapper{
            .right-box{
                position:static;
            }
        }
    }

    .touch{
        .wrapper{
            .form-box{
                margin:0;      
            }
        }
    }
}
@media (max-width:$tablet){
    header{
        height:100vh;
        &.home-header{
            background-position:bottom left;
        }
        .wrapper{
            .contact-h1{
                background-color: rgb($white, 0.5);
                align-self: stretch;
            }
        }
        .header-img{
            display:none;
        }
    }
    .about-blog{
        .wrapper{
            margin: 0 auto;
            max-width:100%;
            .left-box{
                max-width:calc(100vw - 120px);
            }
            .right-box{
                max-width:calc(100vw - 100px);
                .comment{
                    padding-left:0;
                }
                form {
                    margin: auto;
                    max-width: 100%;
                    padding: 1rem 0;
                
                    fieldset {
                        padding: 0;
                
                        input {
                            max-width: calc(100%);
                            margin: 10px 0;
                        }
                
                        textarea {
                            max-width: 100%;
                            margin: 10px 0;
                            border-left: none;
                            border-right: none;
                        }
                
                        button {
                            max-width: 100%;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
    .touch {
        .wrapper {
            .form-box {
                max-width: 100%;
                form {
                    @include detach(0px, 0px, 0px, 0px);
                    margin: auto;
                    max-width: 100%;
                    padding: 1rem 0;
                    fieldset {
                        padding: 0;
                        input {
                            max-width: calc(100%);
                            margin: 10px 0;
                        }
                        textarea {
                            max-width: 100%;
                            margin: 10px 0;
                            border-left: none;
                            border-right: none;
                        }
                        button {
                            max-width: 100%;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:$mobile){
    header{
        height:100vh;
        &.home-header{
            background-position: 0px -60px;
            background-repeat: none;
            background-color: $white;
        }
        &.contact-header {
            background-position: -350px 50px;
        }
        .wrapper{
            position:relative;
            h1{
                &.home-h1{
                    position:absolute;
                    top:calc(90vh - 8rem);
                    right:calc(40vw);
                    transform: rotate(-90deg); 
                }
            }
        }
        .header-img{
            display:none;
            bottom:120px;
        }
    }
    .blog{
        .wrapper{
            .img-box{
                min-width: calc($min-dim - 60px);
            }
        }
    }
    .links{
        .wrapper{
            .link-box{
                min-width:calc($min-dim - 30px);
                margin:auto;
                p{
                    margin-left:5px;
                }

            }
        }
    }
    
    .about-blog{
        .wrapper{
            margin: 0 auto;
            max-width:100%;
            .left-box{
                min-width:290px;
                max-width:100%;
                margin:auto;
                padding:0.25rem;
                .img-box{
                    width:100%;
                    img{
                        @include detach(0px, 0px, 0px, 0px);
                    }
                }
            }
            .right-box{
                min-width:290px;
                max-width:100%;
                margin:auto;
                padding:0.25rem;
                .post{
                    .img-box{
                        img{
                            @include detach(-30px, 0px, 30px, 0px);
                        }
                    }
                    .text-box{
                        padding:0.8rem;
                    }
                }
                .comment{
                    padding:1.5rem;
                }
                form{
                    margin:auto;
                    max-width:100%;
                    padding:1rem 0;
                    fieldset{
                        padding:0;
                        input{
                            max-width:calc(100%);
                            margin:10px 0;
                        }
                        textarea{
                            max-width:100%;
                            margin:10px 0;
                            border-left:none;
                            border-right:none;
                        }
                        button{
                            max-width:100%;
                            margin:10px 0;  
                        }
                    }
                }
            }
        }
    }
    .touch{
        .wrapper{
            margin: 0 auto;
            max-width:100%;
            .form-box{
                max-width:100%;
                form{
                    @include detach(0px, 0px, 0px, 0px);
                    margin:auto;
                    max-width:100%;
                    padding:1rem 0;
                    fieldset {
                        padding: 0;
                        input {
                            max-width: calc(100%);
                            margin: 10px 0;
                        }
                    
                        textarea {
                            max-width: 100%;
                            margin: 10px 0;
                            border-left: none;
                            border-right: none;
                        }
                    
                        button {
                            max-width: 100%;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:400px){
    .home-header{
        .wrapper{
            .home-h1{
                right: calc(40vw - 2rem);
            }
        }
    }


}