@use "variables" as *;
@media (max-width:$sm-scr){
    header{
        .wrapper{
            nav{
                align-self:flex-start;
                width:fit-content;
                align-items: flex-start;
                .menu-nav{
                    // background-color: lime;
                    @include flex-center(column);
                    flex-wrap:none;
                    li{
                        margin:10px 0;
                    }
                }
            }
            h1{
                margin-bottom:2rem;
                // margin:0 0 20px 100px;
                align-self: flex-end;
                
            }  
        }
        .header-img{
            right:calc(50% - max(40%, 300px)/2);
            border-left:none;
            opacity:0.8;
        }

    }
    .blog{
        .wrapper{
            .right-box{
                position:static;
            }
        }
    }
}
@media (max-width:$tablet){

}
@media (max-width:$mobile) {

}