@use "variables" as *;
@media (max-width:$sm-scr){
    header{
        &.home-header{
            background-position: bottom left;
        }
        .wrapper{
            nav{
                align-self:flex-start;
                width:fit-content;
                .menu-nav{
                    @include flex-center(column);
                    flex-wrap:none;
                    li{
                        margin:10px 0;
                    }
                }
            }
            h1{
                margin-bottom:2rem;
                align-self: flex-end;  
            }  
        }
        .header-img{
            right:calc(50% - max(40%, 300px)/2);
            border-left:none;
            opacity:0.8;
        }

    }
    .about-blog{
        .wrapper{
            .left-box{
    
            }
            .right-box{
                position:static;
            }
        }
    }
}
@media (max-width:$tablet){
    header{
        &.home-header{
            background-position:bottom left;
        }
    }
    .about-blog{
        .wrapper{
            
            .left-box{
                max-width:calc(100vw - 120px);
            }
            .right-box{
                max-width:calc(100vw - 100px);
                .comment{
                    padding-left:0;
                }
            }
        }
    }

}
@media(max-width:$mobile){
    header{
        &.home-header{
            background-position: 0px -60px;
            background-repeat: none;
            background-color: $white;
        }
        .wrapper{
            position:relative;
            h1{
                &.home-h1{
                    position:absolute;
                    top:calc(90vh - 8rem);
                    right:calc(40vw - 2rem);
                    transform: rotate(-90deg); 

                }
            }
        }
        .header-img{
            display:none;
            bottom:120px;
        }
    }
    .blog{
        .wrapper{
            .img-box{
                min-width: calc($min-dim - 60px);
            }
        }
    }
    .links{
        .wrapper{
            .link-box{
                min-width:calc($min-dim - 30px);
                p{
                    margin-left:0px;
                }

            }
        }
    }

}