@use "variables" as *;
header{
    .wrapper{
        nav{
            .menu-btn {
                background-color:$canary;
                border-radius: 10px;
                margin:4px 0;
                &.closed{
                    position: relative;
                    @include flex-center(column, center, center);
                    width: 80px;
                    height: 80px;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                }
                // Animation
                &.open {
                    position: relative;
                    @include flex-center(column, center, center);
                    width: 80px;
                    height: 80px;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    .menu-btn__burger {
                        transform: translateX(-50px);
                        background: transparent;
                        box-shadow: none;
                
                        &::before {
                            transform: rotate(45deg) translate(35px, -35px);
                        }
                
                        &::after {
                            transform: rotate(-45deg) translate(35px, 35px);
                        }
                    }
                }
                .menu-btn__burger {
                    width: 50px;
                    height: 6px;
                    background: $black;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
                    transition: all 0.5s ease-in-out;
            
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 6px;
                        background: $black;
                        border-radius: 5px;
                        box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
                        transition: all 0.5s ease-in-out;
                    }
            
                    &::before {
                        transform: translateY(-16px);
                    }
            
                    &::after {
                        transform: translateY(16px);
                    }
                }
            }
        }
    }
}



.nav {
    transition: all 0.5s ease-in-out;

    &.open {
        background-color: $canary;
        transform: translateX(50px);
    }
}