@use "variables" as *;

header{
    width:100vw;
    height:100vh;
    background-image: url(../../../assets/header-image.jpg);
    background-size:cover;
    position:relative;
    .wrapper{
        height:100vh;
        @include flex-center(column, space-between,center);
        padding:20px 0px;
        nav{
            align-self: flex-end;
            width:40%;
            .menu-nav{
                @include flex-center(row, space-between,center);
                width:100%;
                .active{
                    border-bottom: $sea-green 5px solid;
                }
            }
        }
        h1{
            z-index:10;
            margin:10px;
        }
    }
    .header-img{
        width:40%;
        border:50px $canary solid;
        border-right:0px;
        position:absolute;
        bottom:-25vh;
        right:0;
        z-index: 0;
    }
}
.about{
    background-color:rgb($sea-green, 20%);
    padding-top:25vh;
    padding-bottom:80px;
    .wrapper{
        @include flex-center(column, center, center);
        h3{
            margin:20px 0;
        }
        p{
            margin:20px 0;
            display:inline-block;
            max-width:800px;
            text-align: center;
        }
    } 
}
