@use "variables" as *;

body{
    font-family: $font-1;
    // font-weight: weights($font-weights, "bold");
    // font-style: weights($font-forms, "italic");
    font-weight: 400;
    font-style: italic;
}