@use "variables" as *;

header{
    @include fix-header("../../../assets/header-image.jpg");
    position:relative;
    .wrapper{
        height:100vh;
        @include flex-center(column, space-between,center);
        padding:20px 0px;
        nav{
            align-self: flex-end;
            width:40%;
            .menu-nav{
                @include flex-center(row, space-between,center);
                width:100%;
                .active{
                    border-bottom: $sea-green 5px solid;
                }
            }
        }
        h1{
            @include heading-styler;
            z-index:20;
            margin:10px;
        }
    }
    .header-img{
        width:40%;
        border:50px $canary solid;
        border-right:0px;
        position:absolute;
        bottom:-25vh;
        right:0;
        z-index:10;
        img{
            @include z-layer(10);
            // position:relative;
            // z-index:10;
        }
    }
}
.about{
    background-color:$ice;
    padding-top:25vh;
    @include z-layer(0);
    // position:relative;
    // z-index:0;
    .wrapper{
        @include flex-center(column, center, center);
        h3{
            @include heading-styler;
        }
        p{
            @include p-styler(800px, 100px);
        }
    } 
}
.blog{
    background-color: $white;
    .wrapper{
        @include bleed(1500px);
        @include flex-center();
        flex-wrap: wrap;
        .img-box{
            background-color: $canary;
            @include wrap($margin:10px, $min-width:400px, $max-width:800px);
            .box-1{
                // @include detach($right:25px, $bottom:25px);
                position:relative;
                right:25px;
                bottom:25px;
            }
            .box-2{
                // @include detach($left:25px, $bottom:25px);
                position:relative;
                left:25px;
                bottom:25px;
            }
        }
        .text-box{
            @include wrap($margin:10px, $min-width:400px, $max-width:800px);
            margin-bottom:20px;
            &.box-2{
                align-items: flex-end;
            }
            h4 {
                @include heading-styler;
            }
            p {
                @include p-styler($min-width:400px, $max-width:800px);
            }
        }
    }
}
.links{
    background-color: $white;
    .wrapper{
        display:flex;
        flex-wrap:wrap;
        .link-box{
            flex-basis:50%;
            .text-box{
                margin:15px;
                h4{
                    @include heading-styler;
                }
            }
            .icon-box{
                align-self: flex-start;
            }
        }
    }
}
.banner{
    padding:0;
    .wrapper{
        max-width:1500px;
        width:100%;
    }
}
.profile{
    .wrapper{
        @include flex-center();
        flex-wrap:wrap;
        .img-box{
            flex-basis:25%;
            margin:0 20px 0 20px;
            background-color: $canary;
            img{
                // position:relative;
                // bottom:25px;
                // right:25px;
                @include detach();
            }
        }
        .text-box{
            flex-basis:60%;
            margin:0 0 0 20px;
            h3{
                @include heading-styler;
            }

        }
    }
}
