@use "partials/setup";
@use "partials/resets";
@use "partials/variables" as *;
@use "partials/config";
@use "partials/wrapper";
@use "partials/box";
@use "partials/sections";
@use "partials/media-queries";
@use "partials/about-page";
i.fa {
    -webkit-animation: show 1s 1;
    /* any other properties to override from FontAwesome's default .fa rule */
}

@-webkit-keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


